<!DOCTYPE html>
<html lang="en">
	<head>																																
		<meta charset="UTF-8">																											
		<meta name="viewport" content="width=device-width, initial-scale=1.0">															
		<meta http-equiv="X-UA-Compatible" content="ie=edge">																			
		<title>Insert products and specifications</title> 																										
	</head>
	<body>
		<form role="form" name="insertForm" accept-charset="utf-8">
			<script cam-script type="text/form-script">
				var product = $scope.product = [];																														// Custom JavaScript creates a JavaScript Object and binds it to the current AngularJS $scope of the form as a variable named "product".															                                                        
				$scope.addProduct = function () {																														// We make a function named "addProduct".
					var product = {};																																	// We add a new "product" to the Array.
					product.Description = $scope.Description;
					if (!!$scope.camForm.fields[0].element[0].files[0]) {																								// If the file is uploaded,
						product.Details = $scope.camForm.fields[0].element[0].files[0].name;																			// it returns file's "name".
					} else {																																			// If the file is not uploaded,
						return;																																			// it returns "undefined".
					}
					product.Price = $scope.Price;
					$scope.product.push(product);																														// We use the value of the "product" input field to add a new "product" to the Array.
					$scope.Description = "";																															// We clear the TextBox "Περιγραφή".
					$scope.Details = "";																																// We clear file's "name".
					$scope.Price = "";																																	// We clear the TextBox "Τιμή (€)".
				};
				$scope.removeProduct = function (index) {																												// We make a function named "removeProduct". 					
					var category = $scope.product[index].Category;																										// We find product's "Category" using "index" from the Array and binds it to the current AngularJS $scope of the form as a variable named "category".
					$scope.product.splice(index, 1);																													// We use an "index" to remove a "product" from the Array.
				}
				$scope.isAddFormValid = function () {																													// We make a function named "isAddFormValid".
					return ($scope.Description &&
							$scope.camForm.fields[0].element[0].files[0] &&
							$scope.Price) ? true : false;																												// If all of the 3 input fields of variable "product" are filled in, the "isAddFormValid" function (expression) returns "true", otherwise the function returns "false".
				}
				inject(['$http', 'Uri', function($http, Uri) {
					camForm.on('form-loaded', function() {																												// We hook into the lifecycle of Camunda SDK JS Form.
						camForm.variableManager.createVariable ({																										// We "create" (declare) a new "process" variable  
							name:'product',																																// named 'product' and
							type:'json',																																// provide as type information 'json' used for serialization.
							value:product
						});
					});
					camForm.on('store', function(evt) {																													// We hook into the lifecycle of Camunda SDK JS Form.																													
						evt.retrieveVariables()
						var varManager = evt.variableManager;
						var vars = varManager.variables;
						var variableData = {};
						for(var v in vars) {
							if(varManager.isDirty(v)) {
								var val = vars[v].value;
								if(varManager.isJsonVariable(v)) {
									val = JSON.stringify(val);
								}
								variableData[v] = {
									value: val,
									type: vars[v].type,
									valueInfo: vars[v].valueInfo
								};
							}
						}
						var data = { modifications: variableData };
						var config = {
							headers : {
								'Content-Type': 'application/json'
					  		}
						};
						$http.post(Uri.appUri('engine://engine/:engine/task/' + camForm.taskId + '/variables'), data, config);
						evt.storePrevented = true;																														// An event handler may prevent the "store" from being executed by setting the property "storePrevented" to 'true'.
					});
					camForm.on('submit', function(evt) {																												// We hook into the lifecycle of Camunda SDK JS Form.
						if (product.length<1) {																															// If no any "product" is added,
							evt.submitPrevented = true;																													// an event handler prevents the form from being submitted by setting the property "submitPrevented" to 'true'.
						}
					});
				}]);
			</script>
			<h2><b>Λίστα Προϊόντων</b></h2>																																<!-- We set the heading of the HTML Table. -->
			<div>													
				<table style="width:100%;">																								
					<thead>																																				<!-- We group the "header" content in the HTML Table. -->
						<tr>																																			<!-- The "header" content of the HTML Table is not repeated. -->																											
							<th>Περιγραφή</th>
							<th>Λεπτομέρειες</th>
							<th style="width:75px;">Τιμή (€)</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="x in product track by $index">																									<!-- The HTML Table is populated from the JSON Array "product", using a "ng-repeat" directive which is assigned to each row of the Table in order to repeat all the objects of the Array. -->
						<tr>																																			<!-- Each row of the HTML Table consists of 3 HTML fields and 1 button. -->													
							<td style="width:100%; padding:0px 0px 0px 0px"><input style="width:100%;" type="text" value="{{x.Description}}" /></td>
							<td><input type="text" value="{{x.Details}}" /></td>	
							<td><input style="width:75px;" type="number" value="{{x.Price}}" /></td>
							<td><input type="button" ng-click="removeProduct($index)" value="Remove" /></td>															<!-- The "ng-click" directive is assigned to the "Remove" button and calls the function named "removeProduct" with the current "$index" when this button is clicked. -->
						</tr>
					</tbody>
				</table>
			</div>
			<hr>																																						<!-- We separate the HTML content of the page. -->
			<div>
				<h2><b>Καταχώρησε νέο προϊόν</b></h2>																													<!-- We set the heading of the HTML Form. -->
				<div class="row">																																		<!-- We set the "1st row" of the HTML Form. -->	
					<div class="col-md-6">																								
						<div class="form-group">
							<label class="control-label" for="description">Περιγραφή</label>
							<div class="controls">
								<input id="description"
									   type="text" 
									   cam-variable-name="Description"
									   cam-variable-type="String"
									   class="form-control"
									   onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" ng-model="Description" />									<!-- When the value of the input field "Περιγραφή" changes, is bound to the created variable "Description" in AngularJS by the "ng-model" directive. -->	
							</div>
						</div>
					</div>
				</div>
				<div class="row">																																		<!-- We set the "2nd row" of the HTML Form. -->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="details">Λεπτομέρειες</label>
							<div class="controls">
								<input id="details"
							   		   type="file"
							   		   cam-variable-name="Details"
							           cam-variable-type="File"
							           class="form-control"
							           cam-max-filesize="10000000" ng-model="Details" />																				<!-- When the value of the input field "Λεπτομέρειες" changes, is bound to the created variable "Details" in AngularJS by the "ng-model" directive. -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label" for="price">Τιμή (€)</label>
							<div class="controls">
								<input style="width:75px;"
									   id="price"
									   type="number" min="0"
									   cam-variable-name="Price"
									   cam-variable-type="Double"
									   class="form-control" ng-model="Price" />																							<!-- When the value of the input field "Τιμή (€)" changes, is bound to the created variable "Price" in AngularJS by the "ng-model" directive. -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">																																		<!-- We set the "3rd row" of the HTML Form. -->
					<div class="col-md-4">																																<!-- We use "md" for medium screen devices of width equal to or greater than 992px and "4" for adding 4 columns. -->
						<div class="controls">
							<input type="button" ng-click="addProduct()" ng-show="isAddFormValid()" value="Add" />														<!-- The "ng-show" directive shows the input element ("Add" button) only if the "isAddFormValid()" function (expression) returns "true". The "ng-click" directive is assigned to the "Add" button and calls the function named "addProduct()" when this button is clicked. -->
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>