<!DOCTYPE html>
<html lang="en">
	<head>																																
		<meta charset="UTF-8">																											
		<meta name="viewport" content="width=device-width, initial-scale=1.0">															
		<meta http-equiv="X-UA-Compatible" content="ie=edge">																			
		<title>Select products</title> 																										
	</head>
	<body>
		<form role="form" name="selectForm" accept-charset="utf-8">
			<script cam-script type="text/form-script">
				camForm.on('form-loaded', function() {																																								// The variable 'product' has not been loaded ("fetched") from the server yet.
					camForm.variableManager.fetchVariable('product');																																				// We tell the "form SDK" to fetch the 'json' variable named 'product'.
				});
				camForm.on('variables-fetched', function() {																																						// The value of variable 'product' has been fetched (loaded) from the server and 
					$scope.product = camForm.variableManager.variableValue('product');																																// is bound to the current AngularJS $scope of the form.										
				});
				$scope.changeQuantity = function(x, index, chkselct) {																																				// "changeQuantity" function gets called at every change in the value of ("checkbox" or "quantity") input fields. 
					console.log('x: ' +x.Quantity+ ', chkselct: ' +chkselct+ ', index: '+ index);																													// We display (x, chkselct, index) values in the debugger window. 
					if (!chkselct) {																																												// If product's "checkbox" is not checked, then
						x.Quantity=undefined;																																										// product's "quantity" input field has not a value.
					}
					$scope.product[index] = x;																																										// Using "index" from the Array, we find the product, whose ("checkbox" or "quantity" input fields) value has changed.  
					$scope.total = total();																																											// "total" is bound to the current AngularJS $scope of the form as a function which gets called.
				}
				function total() {																																													// When "total ()" function gets called,
					var total = 0;																																													// variable "total" is initialized.
					angular.forEach($scope.product, function(x) {																																					// Based on the "index" from the Array, "forEach" function reads each product whose ("checkbox" or "quantity" input fields) value has changed.
						if (x.Quantity) { 																																											// If product's "quantity" input field has a value (so, product's "checkbox" is checked anyway), then
							total += x.Price * x.Quantity;																																							// we calculate "total" (by multiplying "product's price" by "product's quantity" and adding the last "total").												
						}
					})
					console.log('Total: ' + total);																																									// We display "total" value in the debugger window.
					return total;																																													// "return" statement stops the execution of "total ()" function and returns a value from that function.
				}
				camForm.on('submit', function(evt) {																																								// Before "submit" request is sent to the server,
					var selectedProduct = [];																																										// we create a new Array as a variable named "selectedProduct".
					angular.forEach($scope.product, function(x) {																																					// For each product of the "product" Array, 
						if (x.Quantity) {																																											// if product's "quantity" input field has a value (so, product's "checkbox" is checked anyway),
							selectedProduct.push(x);																																								// we add the "selected product" to the "selectedProduct" Array.	
						}
					})
					if (selectedProduct.length<1) {																																									// If no "product" has been selected from the "product" Array,
						evt.submitPrevented = true;																																									// an event handler prevents the form from being submitted by setting the property "submitPrevented" to 'true'.
					} else {																																														// If at least one "product" has been selected from the "product" Array, 
						camForm.variableManager.createVariable ({																																					// we "create" (declare) a new "Local process variable"
							name: 'selectedProduct',																																								// named 'selectedProduct' and
							type: 'json',																																											// provide as type information 'json' used for serialization.
							value: selectedProduct																					 
						});	
					}
				});
			</script>
			<h2><b>Λίστα Προϊόντων</b></h2>							 																							
			<style>																																																																																																	
				table.robotCLS td, table.robotCLS th {			
					padding: 2px 5px 2px 5px !important;																																							
					font-size: 13px;
				}
				table.robotCLS textarea {
					width:100%;																						
				}
			</style>																																																<!-- All table "data" and "header" cells have a "2px padding for top", a "5px padding for right", a "2px padding for bottom", a "5px padding for left" and a "font" of 13px size. "!important" gives the "table cells" "padding" precedence over any CSS styling that targets them. All table "textarea" fields occupy the "100%" of the "width" of the containing block. -->																																																	
			<div>
				<table class="robotCLS" style="width:100%;">																																						<!-- Any element that points to the class name "robotCLS" will have the same "format" and "style". -->
					<thead>
						<tr>
							<th>Κατηγορία</th>
							<th>Περιγραφή</th>
							<th>Αρχείο</th>
							<th>Τιμή (€)</th>
							<th>Επιλογή</th>
							<th>Ποσότητα</th>
							<th>Κόστος (€)</th>
						</tr>			
					</thead>
					<tbody>
						<tr ng-repeat="x in product track by $index">
							<td><input style="width:250px;" type="text" value="{{x.Category}}" readonly /></td>
							<td style="width:100% ; padding: 0px 0px 0px 0px"><textarea rows="3" type="text" readonly>{{x.Description}}</textarea></td>			
							<td><input style="width:100px;" type="url" value="{{x.Details}}" readonly hidden /><a href="{{x.Details}}" target="_blank">URL Αρχείου</a></td>											<!-- The "input field" element is not visible. -->
							<td><input style="width:75px;" type="number" value="{{x.Price}}" readonly /></td>
							<td><input style="width:25px; height:25px;" type="checkbox" ng-model="chkselct"													 					 
							   										    cam-variable-name="isProductSelected"													
							   								   		    cam-variable-type="Boolean"
							   								   		    ng-change="changeQuantity(x, $index, chkselct)" /></td>																						<!-- "ng-change" directive calls the "changeQuantity ()" function at every change in the value of "checkbox" input field. -->										
							<td ng-show="chkselct"><input id="quantity" type="number" ng-model="x.Quantity"					
												   					  	cam-variable-name="quantity" min="1"
												   					    cam-variable-type="Integer" 
												   					    ng-change="changeQuantity(x, $index, chkselct)" /></td>																						<!-- "ng-change" directive calls the "changeQuantity ()" function at every change in the value of "quantity" input field. "ng-show" directive shows the "quantity" input field only when "checkbox" is checked. -->					
							<td><input value="{{x.Quantity>0 ? x.Price * x.Quantity : 0}}" /></td>																													<!-- If product's "quantity" input field has a value, then "Subtotal" amount is displayed, otherwise "0" is displayed. -->
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><b>Σύνολο</b></td>
							<td><b><input value="{{total}}" /></b></td>																																				<!-- "Total" amount is displayed. -->
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><b>Χρειάζεστε νέο προϊόν;</b></td>
							<td><input class="form-control" style="width:25px; height:25px;" type="checkbox" 
																						 	 cam-variable-name="newProductNeeded"
																						 	 cam-variable-type="Boolean"									
																						 	 name="New Product Needed ?" /></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</body>
</html> 