<form role="form" name="selectForm">
	<script cam-script type="text/form-script">
		camForm.on('form-loaded', function() {																			// The variable 'product' has not been loaded ("fetched") from the server yet.
			camForm.variableManager.fetchVariable('product');															// We tell the "Form SDK" to "fetch" the 'json' variable named 'product'.
		});
		camForm.on('variables-fetched', function() {																	// The variable 'product' has been loaded ("fetched") from the server
			$scope.product = camForm.variableManager.variableValue('product');											// and is bound to the current AngularJS $scope of the form.
		});
		$scope.changeQuantity = function(x, index, chkselct) {															// "changeQuantity" function gets called at every change in the value of ("checkbox" or "quantity") input fields. 
			console.log('x: ' +x.Quantity+ ', chkselct: ' +chkselct+ ', index: '+ index);								// We display (x, chkselct, index) values in the debugger window. 
			if (!chkselct) {																							// If product's "checkbox" is not checked, then
				x.Quantity=undefined;																					// product's "quantity" input field has not a value.
			}
			$scope.product[index] = x;																					// Using index from the Array, we find the product, whose ("checkbox" or "quantity" input fields) value has changed.  
			$scope.total = total();																						// "total" is bound to the current AngularJS $scope of the form as a function which gets called.
		}
		function total() {																								// When "total ()" function gets called,
			var total = 0;																								// variable "total" is initialized.
			angular.forEach($scope.product, function(x) {																// Based on index from the Array, "forEach" function reads each product whose ("checkbox" or "quantity" input fields) value has changed.
				if (x.Quantity) { 																						// If product's "quantity" input field has a value (so, product's "checkbox" is checked), then
					total += x.Price * x.Quantity;																		// we calculate "total" (by multiplying "product's price" by "product's quantity" and adding the last "total").												
				}
			})
			console.log('Total: ' + total);																				// We display "total" value in the debugger window.
			return total;																								// "return" statement stops the execution of "total ()" function and returns a value from that function.
		}
		camForm.on('submit', function(evt) {																			// Before the "submit" request is sent to the server,
			var selectedProduct = [];																					// We create a new Array as a variable named "selectedProduct".
			angular.forEach($scope.product, function(x) {																// For each product of the "product" Array 
				if (x.Quantity) {																						// if product's "quantity" input field has a value (so, product's "checkbox" is checked),
					selectedProduct.push(x);																			// we add the selected product to the "selectedProduct" Array	
				}
			})
			if (selectedProduct.length<1) {																				// If no "product" has been selected from the table,
				evt.submitPrevented = true;																				// an event handler prevents the form from being submitted by setting the property "submitPrevented" to 'true'.
			} else {																									// If at least one "product" has been selected from the table, 
				camForm.variableManager.createVariable ({																// We "create" (declare) a new process variable
					name: 'selectedProduct',																			// named 'selectedProduct' and
					type: 'json',																						// provide as type information 'json' used for serialization.
					value: selectedProduct																					 
				});	
			}
		});
	</script>
	<h2>My Order List</h2>																							
	<div>
		<table style="width:100%;">
			<thead>
				<tr>
					<th style="width:140px;">Category</th>
					<th style="width:305px;">Brief Description</th>
					<th style="width:250px;">Detailed Description</th>
					<th style="width:75px;" >Price</th>
					<th></th>
					<th>Quantity</th>
					<th>Subtotal</th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-repeat="x in product track by $index">
					<td><input style="width:140px;" type="text" value="{{x.Category}}" readonly /></td>
					<td><input style="width:305px;" type="text" value="{{x.BriefDescription}}" readonly /></td>
					<td><input style="width:250px;" type="text" value="{{x.DetailedDescription}}" readonly /></td>			
					<td><input style="width:75px;"  type="number" value="{{x.Price}}" readonly /></td>
					<td><input style="width:25px;height:25px;" type="checkbox" ng-model="chkselct"													 					 
							   								   cam-variable-name="isProductSelected"													
							   								   cam-variable-type="Boolean"
							   								   ng-change="changeQuantity(x, $index, chkselct)" /></td>										<!-- "ng-change" directive calls the "changeQuantity ()" function at every change in the value of "checkbox" input field. -->										
					<td ng-show="chkselct"><input style="width:50px;" id="quantity" type="number" ng-model="x.Quantity"					
												   					  				cam-variable-name="quantity" min="1"
												   					  				cam-variable-type="Integer" 
												   					  				ng-change="changeQuantity(x, $index, chkselct)" /></td>					<!-- "ng-change" directive calls the "changeQuantity ()" function at every change in the value of "quantity" input field. "ng-show" directive shows the "quantity" input field when "checkbox" is checked. -->					
					<td>{{x.Price * x.Quantity | currency}}</td>																							<!-- "Subtotal" amount is displayed. -->
				</tr>
				<tr>
					<td><b>Total</b></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><b>{{total | currency}}</b></td>																									<!-- "Total" amount is displayed. -->
				</tr>
			</tbody>
		</table>
	</div>
</form> 