<form role="form" name="selectForm">
	<script cam-script type="text/form-script">
		camForm.on('form-loaded', function() {																			// The variable 'item' has not been loaded (fetched) from the server yet.
			camForm.variableManager.fetchVariable('item');																// We tell the "Form SDK" to fetch the 'json' variable named 'item'.
		});
		camForm.on('variables-fetched', function() {																	// The variable 'item' has been loaded (fetched) from the server
			$scope.item = camForm.variableManager.variableValue('item');												// and is bound to the current AngularJS $scope of the form.
		});
		$scope.total = function() {
			var total = 0;
			angular.forEach($scope.item, function(x) {
				total += x.Price * x.Quantity;
			})
		return total;
		}
	</script>
	<h2>My Order List</h2>																							
	<div>
		<table style="width:100%;">
			<thead>
				<tr>
					<th style="width:140px;">Category</th>
					<th style="width:305px;">Brief Description</th>
					<th style="width:250px;">Detailed Description</th>
					<th style="width:75px;" >Price</th>
					<th></th>
					<th>Quantity</th>
					<th>Subtotal</th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-repeat="x in item track by $index">
					<td><input style="width:140px;" type="text" value="{{x.Category}}" readonly /></td>
					<td><input style="width:305px;" type="text" value="{{x.BriefDescription}}" readonly /></td>
					<td><input style="width:250px;" type="file" value="{{x.DetailedDescription}}" readonly /></td>			
					<td><input style="width:75px;"  type="number" value="{{x.Price}}" readonly /></td>
					<td><input style="width:25px;height:25px;" type="checkbox" ng-model="chkselct"								 					 
							   								   cam-variable-name="isItemSelected"													
							   								   cam-variable-type="Boolean" /></td>
					<td ng-show="chkselct"><input style="width:50px;" id="quantity" type="number" ng-model="x.Quantity"
												   					  				cam-variable-name="quantity" min="1"
												   					  				cam-variable-type="Integer" /></td>
					<td>{{x.Price * x.Quantity | currency}}</td>
				</tr>
				<tr>
					<td><b>Total</b></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><b>{{total() | currency}}</b></td>
				</tr>
			</tbody>
		</table>
	</div>
</form> 